@use '../../scss/colors';

.card {
    min-width: 200px;
    height: 180px;
    border-radius: 15px;
    cursor: pointer;

    & .activity {
        display: flex;
        justify-content: flex-end;
        height: 20px;
        margin: 0 10px;

    }

    .card_2 {
        position: relative;
        top: 30px;
        background-color: colors.$fondo1;
        color: colors.$white;
        height: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .dots {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            top: 1.5rem;
        }

        & .time {
            display: flex;
            width: 100px;
            position: relative;
            top: 1.2rem;
            left: 2.8rem;
            font-size: 3rem;

        }

        & .info {
            display: flex;
            width: min-content;
            position: relative;
            bottom: 1.2rem;
            left: 2.8rem;
            width: max-content;
        }

    }




}

.card_2:hover {
    background-color: colors.$fondo;
}

.__cardWork {
    background-color: colors.$Work;
}

.__cardPlay {
    background-color: colors.$Play;
}

.__cardStudy {
    background-color: colors.$Study;
}

.__cardExercise {
    background-color: colors.$Exercise;
}

.__cardSocial {
    background-color: colors.$Social;
}

.__cardSelfCare {
    background-color: colors.$Selfcare;
}