@use '../../scss/colors';

.card {
    min-width: 200px;
    height: 180px;
    background-color: colors.$Lightred;
    border-radius: 15px;
    cursor: pointer;

    & .activity{
        display: flex;
        justify-content: flex-end;
        height: 20px;
        margin: 0 10px;
        
    }

    .card_2 {
        position: relative;
        top: 30px;
        height: 100px;
        background-color: colors.$fondo1;
        color: colors.$white;
        height: 100%;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        & :hover {
            background-color: colors.$fondoIluminate;
        }

        & .dots {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            top: 1.5rem;
        }

        & .time{
            width: min-content;
            position: relative;
            top: 1.2rem;
            left: 2.8rem;
            font-size: 3rem;
        }

        & .info {
            width: min-content;
            position: relative;
            bottom: 1.2rem;
            left: 2.8rem;

        }

    }
}