@use '../../scss/colors';

.card {
    min-width: 200px;
    height: 180px;
    background-color: colors.$Lightred;
    border-radius: 15px;        
    cursor: pointer;

    .card_2 {
        position: relative;
        top: 30px;
        height: 100px;
        background-color: colors.$fondo1;
        color: colors.$white;
        height: 100%;    
        border-radius: 15px;
        cursor: pointer;

        &:hover{
            background-color: colors.$fondoIluminate;
        }

    }
}